.navbar_content>li{
	display: inline-block;
}
.navbar_content>li>a{
	margin:8px;
	font-size: 23px;
	padding :12px 25px;
	border: 1px solid #646D7C;
	text-decoration: none;
	color: #fff;
	font-family: Helvetica;
}
.navbar_content>li>a:hover{
	background: #49505F;
	text-decoration: none;
}
.navbar{
	text-align: center;
	background-color: #383E4C;
	margin: 0px,auto;
	padding: 10px;
}

